<!DOCTYPE html>
<html>
<head>
	<title>Tweet Analyser</title>
	<link rel ="stylesheet" type = "text/css" href = "static.css">
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
	 
<body>
	<form method="POST" action="/twitter_clone" text-align="center">
	<input name="text">
    <input type="submit">


    {% for row in rows %}
    {{row}}
    {% endfor %}
    
    
</form>
</body>
</html>